* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 background: #f8f7f1;
 font-family: sans-serif;
 
}

.wrap {
  position: relative;
}

.bg{
  height: 100%;
  padding: 20px;
}



#mv > h1{
 text-align: center;
 margin-top: 30px;
 font-size: 50px;
 color: #a9a867;
}

.nav{
 text-align: left;
 margin-left: 30px;
}

h3{
 color: #a9a867;  
 margin-top: 0;
 margin-bottom: 0.5rem ;
}

h3 > span{
 color: black;

}

p{
 margin-bottom: 1rem;
}
